
.sucessoContainer {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    color: #00000099;
    text-align: center;

    .texto1 {
        color: black;
        font-weight: bold;
    }
}
