.capa {
    background-color: #EC4A7D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;

    .capaContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        max-height: 400px;
        margin: 0 auto;

        .textoCapa {
            max-width: 50%;
            height: 300px;
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 40px;
                font-family: 'Alfa Slab One', sans-serif;
                color: black;
            }

            h2 {
                font-size: 22px;
                margin: 10px 0;
                color: #00000099;
                font-family: 'Montserrat', sans-serif;
            }

            p {
                font-size: 15px;
                margin: 0;
            }
        }

        .imagemCapa {
            img {
                width: 100%;
                height: auto;
                max-height: 400px;
                max-width: 500px;
                object-fit: cover;
            }
        }
    }
}

/* Lançamento */
.lancamentoContainer {
    padding: 40px;
    box-sizing: border-box;
    text-align: center;

    h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        font-family: 'Alfa Slab One', sans-serif;
    }

    .lacamentos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin: 0 auto;
        max-width: 1200px;
        text-align: left; 
    }

    .lancamentoProduto {
        box-sizing: border-box;
        padding: 10px;
        background-color: #fff;
        cursor: pointer;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        .lancamentoDetalhes {
            margin-top: 10px;
            font-family: 'Montserrat', sans-serif;

            p {
                margin: 5px 0;
                text-align: left; 
            }
        }

        .nomeLancamento {
            color: black;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: bold;
        }

        .precoLancamento {
            color: #EC4A7D;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: bold;
        }

        .bttLancamento {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #EC4A7D;
            color: white;
            text-decoration: none;
            border-radius: 18px;
            font-size: 14px;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

/* Mais Vendidos */
.maisVendidosContainer {
    padding: 40px;
    box-sizing: border-box;
    text-align: center;

    h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        font-family: 'Alfa Slab One', sans-serif;
    }

    .maisVendidos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin: 0 auto;
        max-width: 1200px;
        text-align: left; 
    }

    .maisVendidosProduto {
        box-sizing: border-box;
        padding: 10px;
        background-color: #fff;
        cursor: pointer;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        .maisVendidosDetalhes {
            margin-top: 10px;
            font-family: 'Montserrat', sans-serif;

            p {
                margin: 5px 0;
                text-align: left; 
            }
        }

        .nomeMaisVendidos {
            color: black;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: bold;
        }

        .precoMaisVendidos {
            color: #EC4A7D;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: bold;
        }

        .bttMaisVendidos {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #EC4A7D;
            color: white;
            text-decoration: none;
            border-radius: 18px;
            font-size: 14px;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

/* Categorias */
.categoriaContainer {
    display: flex;
    justify-content: center;
    width: 100%;

    .categoria {
        background-color: #EC4A7D;
        padding: 40px;
        border-radius: 15px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 1000px;

        h1 {
            color: black;
            font-size: 36px;
            margin-bottom: 20px;
            font-family: 'Alfa Slab One', sans-serif;
        }

        .categoriaOpcoes {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            font-family: 'Montserrat', sans-serif;

            .opcaoCategoria {
                background-color: white;
                border-radius: 15px;
                text-align: center;
                padding: 20px;
                transition: transform 0.3s ease;
                text-decoration: none;
                color: black;
                max-width: 400px;
                max-height: 200px;

                &:hover {
                    transform: scale(1.05);
                }

                img {
                    width: 100%;
                    border-radius: 10px;
                    max-width: 300px;
                    max-height: 150px;
                }

                p {
                    margin-top: 10px;
                    font-size: 22px;
                }
            }
        }
    }
}

